topics:
  # For camera topics,
  # min_rate is set to 90% of the expected rate
  # max_rate is set to 105% of the expected rate
  - name: /sensing/camera/camera0/image_raw/compressed
    min_rate: 18.0
    max_rate: 21.0
  - name: /sensing/camera/camera1/image_raw/compressed
    min_rate: 18.0
    max_rate: 21.0
  - name: /sensing/camera/camera2/image_raw/compressed
    min_rate: 18.0
    max_rate: 21.0
  - name: /sensing/camera/camera3/image_raw/compressed
    min_rate: 18.0
    max_rate: 21.0
  - name: /sensing/camera/camera0/camera_info
    min_rate: 18.0
    max_rate: 21.0
  - name: /sensing/camera/camera1/camera_info
    min_rate: 18.0
    max_rate: 21.0
  - name: /sensing/camera/camera2/camera_info
    min_rate: 18.0
    max_rate: 21.0
  - name: /sensing/camera/camera3/camera_info
    min_rate: 18.0
    max_rate: 21.0
  # For lidar topics,
  # min_rate is set to 90% of the expected rate
  # max_rate is set to 150% of the expected rate
  - name: /sensing/lidar/front/{{ lidar_driver_type }}_packets
    min_rate: 9.0
    max_rate: 15.0
  - name: /sensing/lidar/right/{{ lidar_driver_type }}_packets
    min_rate: 9.0
    max_rate: 15.0
  - name: /tf_static # tf
  # For INS topics,
  # min_rate is set to 60% of the expected rate
  # max_rate is set to 110% of the expected rate
  - name: /sensing/ins/oxts/imu
    min_rate: 60.0
    max_rate: 110.0
  - name: /sensing/ins/oxts/imu_bias
    min_rate: 3.0
    max_rate: 6.0
  - name: /sensing/ins/oxts/lever_arm
    min_rate: 3.0
    max_rate: 6.0
  - name: /sensing/ins/oxts/nav_sat_fix
    min_rate: 3.0
    max_rate: 11.0
  - name: /sensing/ins/oxts/nav_sat_ref
    min_rate: 3.0
    max_rate: 11.0
  - name: /sensing/ins/oxts/ncom
    min_rate: 60.0
    max_rate: 110.0
  - name: /sensing/ins/oxts/odometry
    min_rate: 30.0
    max_rate: 55.0
  - name: /sensing/ins/oxts/velocity
    min_rate: 30.0
    max_rate: 55.0
{% if has_vehicle_can %}
  - name: /vehicle/from_can_bus
  - name: /vehicle/decoded_can
{% endif %}
