topics:
  # For camera topics,
  # min_rate is set to 90% of the expected rate
  # max_rate is set to 105% of the expected rate
  - name: /sensing/camera/camera4/image_raw/compressed
    min_rate: 18.0
    max_rate: 21.0
  - name: /sensing/camera/camera5/image_raw/compressed
    min_rate: 18.0
    max_rate: 21.0
  - name: /sensing/camera/camera6/image_raw/compressed
    min_rate: 18.0
    max_rate: 21.0
  - name: /sensing/camera/camera7/image_raw/compressed
    min_rate: 18.0
    max_rate: 21.0
  - name: /sensing/camera/camera4/camera_info
    min_rate: 18.0
    max_rate: 21.0
  - name: /sensing/camera/camera5/camera_info
    min_rate: 18.0
    max_rate: 21.0
  - name: /sensing/camera/camera6/camera_info
    min_rate: 18.0
    max_rate: 50.0
  - name: /sensing/camera/camera7/camera_info
    min_rate: 1.0
    max_rate: 50.0
  # For lidar topics,
  # min_rate is set to 90% of the expected rate
  # max_rate is set to 150% of the expected rate
  - name: /sensing/lidar/rear/{{ lidar_driver_type }}_packets
    min_rate: 9.0
    max_rate: 15.0
  - name: /sensing/lidar/left/{{ lidar_driver_type }}_packets
    min_rate: 9.0
    max_rate: 15.0
{% if has_fisheye %}
  - name: /sensing/camera/camera8/image_raw/compressed
    min_rate: 18.0
    max_rate: 21.0
  - name: /sensing/camera/camera9/image_raw/compressed
    min_rate: 18.0
    max_rate: 21.0
  - name: /sensing/camera/camera10/image_raw/compressed
    min_rate: 18.0
    max_rate: 21.0
  - name: /sensing/camera/camera11/image_raw/compressed
    min_rate: 18.0
    max_rate: 21.0
  - name: /sensing/camera/camera8/camera_info
    min_rate: 18.0
    max_rate: 21.0
  - name: /sensing/camera/camera9/camera_info
    min_rate: 18.0
    max_rate: 21.0
  - name: /sensing/camera/camera10/camera_info
    min_rate: 18.0
    max_rate: 21.0
  - name: /sensing/camera/camera11/camera_info
    min_rate: 18.0
    max_rate: 21.0
{% endif %}
