topics:
  - name: /sensing/camera/camera0/image_raw/compressed
    min_rate: 18.0
    max_rate: 21.0
  - name: /sensing/camera/camera1/image_raw/compressed
    min_rate: 18.0
    max_rate: 21.0
  - name: /sensing/camera/camera2/image_raw/compressed
    min_rate: 18.0
    max_rate: 21.0
  - name: /sensing/camera/camera3/image_raw/compressed
    min_rate: 18.0
    max_rate: 21.0
  - name: /sensing/camera/camera0/camera_info
    min_rate: 18.0
    max_rate: 21.0
  - name: /sensing/camera/camera1/camera_info
    min_rate: 18.0
    max_rate: 21.0
  - name: /sensing/camera/camera2/camera_info
    min_rate: 18.0
    max_rate: 21.0
  - name: /sensing/camera/camera3/camera_info
    min_rate: 18.0
    max_rate: 21.0
  - name: /sensing/lidar/front/nebula_packets
    min_rate: 9.0
    max_rate: 15.0
  - name: /sensing/lidar/right/nebula_packets
    min_rate: 9.0
    max_rate: 15.0
  - name: /tf_static # tf
  - name: /sensing/ins/oxts/imu
    min_rate: 25.0
    max_rate: 110.0
  - name: /sensing/ins/oxts/nav_sat_fix
    min_rate: 2.5
    max_rate: 11.0
  - name: /sensing/ins/oxts/odometry
    min_rate: 12.5
    max_rate: 55.0
  - name: /sensing/ins/oxts/velocity
    min_rate: 12.5
    max_rate: 55.0
{% if drs_enable_vehicle_can %}
  - name: /vehicle/from_can_bus
{% endif %}

