[Unit]
Description=Precision Time Protocol (PTP) service
After=network-online.target

[Service]
Type=simple
# -s: --salveonly, -C: --foreground, -V: --verbose, -L: --ignore-lock, --servo:max_offset 315360000:=10years
ExecStart=/usr/sbin/ptpd -i %i --slaveonly --foreground --verbose --ignore-lock --servo:max_offset 315360000
ExecStop=/usr/bin/pkill -f ptpd
Restart=always
# RestartSec=5

[Install]
WantedBy=multi-user.target network-online.target
