[global]
domainNumber            0
logging_level           6
step_threshold          1.0
first_step_threshold    1.0
tx_timestamp_timeout    1000
boundary_clock_jbod     1
# clock_class_threshold   51
clockClass              {{ ptp.clock_class }}
priority1               {{ ptp.priority1 }}
priority2               {{ ptp.priority2 }}
utc_offset              0
# ptp_minor_version       0

time_stamping           hardware
delay_mechanism         E2E
network_transport       UDPv4
twoStepFlag             1

# Master port
[{{ ptp.master_port }}]

# Slave ports
{% for port in ptp.slave_ports %}
[{{ port }}]
masterOnly              1

{% endfor %}