# Vim
*.swp
*.swo

# Visual Studio Code
.vscode/
*.code-workspace
.cursor/

# colcon
build/
install/
log/
/src/dependencies

# Python
*.pyc

# Jetbrains
.idea/

# External repositories
src/bag_converter/
src/drs-api/
src/proto_recorder

# Ansible temporary directories
.ansible/

# cache
.cache/
