{
"data":{
    "trigger_mode":"triggered",
    "deserializers":{
        "p1":[
            {
            "frequency":"20",
            "duty_cycle":"20",
            "offset":"45268000"
            },
            {
            "frequency":"20",
            "duty_cycle":"20",
            "offset":"29268000"
            },
            {
            "frequency":"20",
            "duty_cycle":"20",
            "offset":"45268000"
            },
            {
            "frequency":"20",
            "duty_cycle":"20",
            "offset":"29268000"
            }
        ],
        "p2":[
            {
            "frequency":"20",
            "duty_cycle":"20",
            "offset":"10000000"
            },
            {
            "frequency":"20",
            "duty_cycle":"20",
            "offset":"20000000"
            },
            {
            "frequency":"20",
            "duty_cycle":"20",
            "offset":"25000000"
            },
            {
            "frequency":"20",
            "duty_cycle":"20",
            "offset":"30000000"
            }
        ]
    }
}
}
