export DRS_ECU_ID={{ drs_ecu_id }}
export SENSING_SYSTEM_ID={{ sensing_system_id }}
export MODULE_ID={{ module_id }}
export HAS_VEHICLE_CAN={{ has_vehicle_can }}
export LIDAR_DRIVER_TYPE={{ lidar_driver_type }}
export VEHICLE_CAN_CONFIG={{ vehicle_can_config | default('pacmod_v3') }}
{% if ptp is defined and ptp.time_sync_type is defined %}
export PTP_TIME_SYNC_TYPE={{ ptp.time_sync_type }}
{% endif %}
