[Unit]
Description=Multicast setup for cyclonedds communication
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/sbin/ip link set multicast on dev lo
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
