# /etc/systemd/system/sync-to-nas.timer
[Unit]
Description=Run sync to NAS every {{ sync_to_nas_timer_interval }}
Requires=sync-to-nas.service

[Timer]
OnBootSec={{ sync_to_nas_timer_interval }}
OnUnitActiveSec={{ sync_to_nas_timer_interval }}
Persistent=true

[Install]
WantedBy=timers.target
