# /etc/systemd/system/drs-transfer.timer
[Unit]
Description=Run sync to storage every {{ drs_transfer_timer_interval }}
Requires=drs-transfer.service

[Timer]
OnBootSec={{ drs_transfer_timer_interval }}
OnUnitActiveSec={{ drs_transfer_timer_interval }}
Persistent=true

[Install]
WantedBy=timers.target
