#jinja2: trim_blocks: False
[Unit]
Description=Rosbag record service
After=network-online.target {%- for i in range(0, local_storages.number_of_storages) %} {{ (local_storages.prefix + '{}'.format(loop.index)) | regex_replace('^/?(\\w.+\\w)/?$', '\\1') | regex_replace('/', '-') }}.mount {%- endfor %}

[Service]
Type=simple
ExecStart=/opt/drs/rosbag_record.sh
ExecReload=kill -SIGINT $MAINPID
ExecStop=kill -SIGINT $MAINPID
Restart=always
User={{ drs_user_name }}

[Install]
WantedBy=multi-user.target network-online.target
