#!/bin/bash
SCRIPT_DIR=$(readlink -f "$(dirname $0)")

# Load ROS related settings
source {{ autoware_env_dir }}/autoware.env
source /opt/ros/humble/install/setup.bash
source {{ drs_source_dir }}/install/setup.bash

# Record configuratoins
BAG_FILE_DURATION=30            # 30sec/bagFile
STORAGE="mcap"                  # Recorded in mcap format
MCAP_OPTIONS_FILE=${SCRIPT_DIR}/mcap_options.yaml

parse_topics() {
    # load file contents, remove comments, and extract topic name
    topics=$(cat $1 | sed -e 's/#.*$/\n/g' | grep 'name:' | cut -d ':' -f 2)
    # replace line-break to space
    topics=$(echo ${topics} | tr '\n' ' ')
    # unify duplicated spaces into one
    topics=$(echo ${topics} | tr -s "[:space:]")
    # remove the last space
    topics=$(echo ${topics} | sed -e 's/ $//g')
    # replace ' ' to '|'
    topics=$(echo ${topics} | sed -e 's/ /|/g')
    echo ${topics}
}
TOPICS=$(parse_topics ${SCRIPT_DIR}/record_topics_ecu${DRS_ECU_ID}.yaml)

HOUR=$(date +"%H" | sed 's/^0//')
if [ $(( ${HOUR} % 2 )) -eq 0 ]; then
    SUFFIX=1
else
    SUFFIX=2
fi
RECORD_DIR={{ record_root_directory }}${SUFFIX}/ecu${DRS_ECU_ID}
# Record
mkdir -p ${RECORD_DIR} && cd ${RECORD_DIR}
ros2 bag record -s ${STORAGE} --storage-config-file ${MCAP_OPTIONS_FILE} \
     --max-bag-duration ${BAG_FILE_DURATION} \
     --regex "${TOPICS}"


