#!/bin/bash

TIME=$(date +"%Y/%m/%d_%H:%M:%S")
echo "============= start ssd_nas_sync.sh ${TIME} ==============="

#backup SSD to NAS
RECORD_ROOT_DIR="{{ local_storages.prefix }}"
DEST_DIR="{{ record_root_directory }}"
sudo mount -a

# determine source directory based on the current hour
HOUR=$(date +"%H" | sed 's/^0//')
if [ $(( ${HOUR} % 2 )) -eq 0 ]; then
    SUFFIX=2
else
    SUFFIX=1
fi
SOURCE_DIR=${RECORD_ROOT_DIR}${SUFFIX}/
echo "source directory: $SOURCE_DIR"
echo "destination directory: $DEST_DIR"


# delete empty folders
find "$SOURCE_DIR" -type d -empty -print -delete

# check if rsync process is running
max_retries=5
retry_count=0
process=$(pgrep -x rsync | wc -l)
echo "existing process num: $process"
while [ "$process" -gt 0 ]; do
    echo "Stopping existing rsync processes..."
    kill -9 $(pgrep -x rsync)

    # increment retry count
    retry_count=$((retry_count + 1))

    # check if max retries reached
    if [ "$retry_count" -ge "$max_retries" ]; then
        echo "Max retries reached. Exiting the loop."
        break
    fi

    sleep 1
    process=$(pgrep -x rsync | wc -l)
    echo "existing process num: $process"
done

# check if NAS is mounted
if mount | grep -q "$DEST_DIR"; then
    echo "NAS is mounted. Start copying."
    nice -n 19 rsync -auO --bwlimit=200000 --remove-source-files "$SOURCE_DIR" "$DEST_DIR" --exclude lost+found/
else
    echo "Error: NAS is not mounted."
    exit 1
fi

ENDTIME=$(date +"%Y/%m/%d_%H:%M:%S")
echo "============= end ssd_nas_sync.sh (${TIME}) @ ${ENDTIME} ==============="
exit 0
