#jinja2: trim_blocks: True
#!/bin/bash

# List of services to be monitored
SERVICES=(
{% for item in enabled_ptpd_services %}
  "{{ item }}"
{% endfor %}
)

LOG_FILE="/var/log/ptpd_monitor.log"

# Get the current timestamp
DATE=$(date "+%Y-%m-%d %H:%M:%S")

for SERVICE in "${SERVICES[@]}"; do
    # Check if the service has failed
    if systemctl is-failed --quiet "$SERVICE"; then
        echo "$DATE: $SERVICE failed. Restarting..." | tee -a "$LOG_FILE"
        systemctl restart "$SERVICE"
    fi
done
