#jinja2: trim_blocks: False
[Unit]
Description=Check and restart failed PTPD services

[Service]
Type=oneshot
ExecStart=/opt/drs/check_ptpd.sh

[Install]
WantedBy=multi-user.target network-online.target
