#jinja2: trim_blocks: False
[Unit]
Description=Run check_ptpd.service every 5min

[Timer]
OnBootSec={{ check_ptpd.on_boot_sec }}
OnUnitActiveSec={{ check_ptpd.on_unit_active_sec }}
Unit=check_ptpd.service

[Install]
WantedBy=timers.target
