[Unit]
Description=Sensor driver service
After=network-online.target

[Service]
Type=simple
ExecStart=/opt/drs/run.sh
LimitRTPRIO=98
ExecReload=kill -SIGINT $MAINPID
ExecStop=kill -SIGINT $MAINPID
Restart=always
User={{ drs_user_name }}
Environment="HOME={{ drs_user_name }}"

[Install]
WantedBy=multi-user.target network-online.target
