# /etc/systemd/system/sync-to-x.timer
[Unit]
Description=Run sync to storage every {{ sync_to_x_timer_interval }}
Requires=sync-to-x.service

[Timer]
OnBootSec={{ sync_to_x_timer_interval }}
OnUnitActiveSec={{ sync_to_x_timer_interval }}
Persistent=true

[Install]
WantedBy=timers.target
