version: "3.8"

services:
  drs-api-gateway:
    image: "{{ drs_api_gateway_image }}:{{ drs_api_version }}"
    container_name: drs-api-gateway
    network_mode: host
    volumes:
      - /opt/drs/service/drs_dashboard/api-gateway.yaml:/etc/api-gateway/config.yaml:ro

  drs-dashboard:
    image: "{{ drs_api_dashboard_image }}:{{ drs_api_version }}"
    container_name: drs-dashboard
    network_mode: host
    depends_on:
      - drs-api-gateway
